<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,700,0,200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,700,0,200" />
    <style>
        
    </style>

</head>
  <body style="background-color:rgb(213, 212, 212);">
    {% load static %}
  
    <div class="card  mt-2 mb-2 ml-4 mr-4">
        <div class="card-body text-center" style="padding: 35px;">
            
          
           <img src="{% static 'images/pro.webp' %}" alt="" width="250px" height="250px">
          
        </div>
    </div>
    <div class="row mr-2 " >
        <div class="col-2 ml-4 mt-2">
            <div class="card ml-1 mt-2 mb-1">
                <div class="card-body font-weight-bold">
                   First Name
                </div>
            </div>
           
            <div class="card ml-1 mt-2 mb-1">
                <div class="card-body font-weight-bold">
                   Last Name
                </div>
            </div>
           
            
            <div class="card ml-1 mt-1 mb-1 font-weight-bold">
                <div class="card-body">
                   Gender
                </div>
            </div>
            
            <div class="card ml-1 mt-1 mb-1 font-weight-bold">
                <div class="card-body">
                    Email
                </div>
            </div>
           
             
        </div>
        <div class="col mt-2">
            
            <div class="row">
        
            <div class="card ml-3  mt-2 mb-1" style="width: 1228px;height:65px;">
                <div class="card-body">
                   {{data.first_name}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card ml-3 mt-1 mb-1" style="width: 500px;">
                <div class="card-body">
                    {{data.last_name}}
                </div>
            </div>
            <div class="card ml-3 mt-1 mb-1 font-weight-bold" style="width: 200px;">
                <div class="card-body">
                   Age
                </div>
            </div>
            <div class="card ml-3 mt-1 mb-1" style="width: 498px;">
               <div class="card-body">
                   {{data.age}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card ml-3  mb-1" style="width: 1228px;">
                <div class="card-body">
                   {{data.gender}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card ml-3  mb-1" style="width: 1228px;">
                <div class="card-body">
                   {{data.email}}
                </div>
            </div>
        </div>
            
            
        </div>
    </div>
    <div class="row mr-2">
        <div class="col-2"></div>
        <div class="col">
            <a href="{% url 'proupd' data.id %}" class="btn btn-block btn-warning ml-1 mb-5 mt-3 ">Update Details</a>
        </div>
        <div class="col-2"></div>
    </div>


  </body>
</html>